name: code coverage

on:
    push:
        branches:
            - master
    pull_request:


jobs:
  check:
    name: Rust project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run cargo-tarpaulin
        uses: WesleyKlop/tarpaulin@output-option 
        with:
          out-type: Lcov
          version: '0.12.3'

      - name: Archive code coverage results
        uses: actions/upload-artifact@v1
        with:
          name: code-coverage-report
          path: lcov.info
      
      - name: report coverage
        uses: romeovs/lcov-reporter-action@v0.2.17
        if: ${{ github.event_name == 'pull_request' }}
        with:
          github-token: ${{ github.token }}
          lcov-file: lcov.info